$fondo: linear-gradient(#2b36a2, #528af9);
$segundo-fondo: linear-gradient(#48169d, #cb6dd6);
$cartaBrawler: linear-gradient(#6957af, #64b4c6);
$cartaModo: linear-gradient(#406579, #7977da);
$fondoBorroso: rgba(0, 0, 0, 0.5);
$letra: white;
$barraAbajo: #3b47be;
$formato-sombra: 0 0 20px rgba(0, 0, 0, 0.25);

// Botones
$botonHome: #454545;
$botonRoll: linear-gradient(#7bcf95, #74be8b);
$botonChange: linear-gradient(#68a7e2, #3e75a8);

// Rarezas
$trophyR: linear-gradient(#9dd7f5, #8bbed8);
$rare: linear-gradient(#52dd00, #40a803);
$superRare: linear-gradient(#3288fd, #1c4986);
$epic: linear-gradient(#ab19f1, #6e0f9b);
$mythic: linear-gradient(#f40014, #6c0009);
$legend: linear-gradient(#fdf344, #807b27);
$chromatic: linear-gradient(to bottom right, #ff4343, #8538ce, #fdf344);

// Scrollbar
$barraHover: rgba(0, 0, 0, 0.6);
